<h3><i class="fas fa-book-reader"></i> Virtual Book Club</h3>
<div class="section">
    <p class="lead">Create public and private reviews of books, and read community book reviews.</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn green darken-1">
    <i class="fab fa-google left"></i>Log In With Google</a>
</div>