.login-page {
  background-image: url("bookshelf.jpg");
  background-color: #cccccc;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p {
  margin: 10px 0 !important;
}

.login-container {
  width: 600px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.fa-small {
  font-size: 16px !important;
}

.btn-float {
  float: left;
  margin-right: 10px;
}

.img-small {
  width: 180px;
}
