<h3>Add Review</h3>
<div class="row">
    <form action="/stories" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title">
                <label for="title">Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <select name="status" id="status">
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                </select>
                <label for="status">Status</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <h5>Write a Review:</h5>
                <textarea name="body" id="body"></textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn blue lighten-1">
            <a href="/dashboard" class="btn grey darken-1">Cancel</a>
        </div>
    </form>
</div>